body {
    background-image: url('/picturs/photo_2025-02-16_18-02-07.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #6594db;
    padding: 25px 20px;
}

nav .logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Hero Section */
.hero {

    justify-content: center;
    text-align: center;
    color: rgb(24, 23, 23);
}

.hero h1 {
    margin: 0;
    font-size: 80px;
}

.hero p {
    font-size: 70px;
}

.btn {
    display: block;
    margin: 300px auto;
    text-align: center;
    padding: 40px;
    background: #293f7a;
    color: white;
    text-decoration: none;
    border-radius:5px;
    font-size: 160%;
}

/* About Section */
.about {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .about .image{
        flex: 1 1 45rem;
    }
    .about .image img{
        width:200%;
    }
    .about .content{
        flex: 1 1 45rem;
    }
    .about .content h1{
        font-size: 9rem;
        color: var(--black);
        line-height: 1.2;
        text-shadow: var(--text-shadow);
    }
    .about .content p{
        font-size: 3rem;
        line-height: 1;
    }
    
    
/* Doctors Section */
.doctors {
    text-align: center;
    padding: 50px 20px;
}

.doctor-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.doctor {
    text-align: center;
    background: #f9f9f9;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}
.doctors h2{
    font-size: 70px;
}

.doctor img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.doctor h3 {
    margin: 10px 0 5px;
    font-size: 20px;
    color: #333;
}

.doctor p {
    margin: 30px 0;
    color: #777;
}

.btn {
    display: block;
    margin-top: 10px;
    padding: 20px 5px;
    background: #38429b;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 400px;
}

.btn:hover {
    background: #36468f;
}
/* Contact Button */
.contact-btn {
    background: #426f99;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
}

.contact-btn:hover {
    background: #3c598f;
}

/* Contact Form */
.contact {
    text-align: center;
    padding: 0px 10px;
}
.contact h2{
    font-size: 7rem; 
}

.contact form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
}

.contact input {
    margin: 20px 0;
    padding: 50px;
    border: 1px solid #0f0e0e;
    border-radius: 5px;
}

.contact_from_btn{
    padding: 10px;
    background: #3d4c8b;
    color: white;
    border: none;
    cursor: pointer;
    width: 500px;
    height: 80px;
}
